<div id="form">
  <div class="wrapper_skinny"> 
		<h2>Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Send me reset the link", class: "button button_dark button_block" %>
		  </div>
		<% end %>
		
		<p>Nevermind, I remember it! <%= link_to "Log in", new_user_session_path %></p>
	</div>
</div>