<div id="background">
	<header class="cf">
		<div class="wrapper_wide">
			<%= link_to "ventur", root_path, id: "logo" %>
		<nav>
			<ul>
				<% unless user_signed_in? %>
					<li><%= link_to "Explore", journals_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
					<!-- <li><%= link_to "Get Started", new_user_registration_path %></li> -->
				<% else %>
					<li><%= link_to "Explore", journals_path %></li>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% end %>
			</ul>
			</nav>
		</div>
	</header>
	<h1>Better the world <br>
	while you explore it</h1>
	<%= link_to "Get started", new_user_registration_path, class: "button button_white" %>
</div>
<div id="vision">
	<div class="wrapper_wide">
		<h2>OUR VISION</h2>
		<hr class="hr_short">
		<p>We see the future of travel as an active means of making a positive impact on the cultural and natural environments of our planet.</p>
	</div>
</div>
<div id="gear_list">
	<div class="col-md-4 wrapper_wide">
		<h2>Your gear, your cause</h2>
		<p> Raising funds for a cause is as simple as showing the gear you brought to make the trip happen.</p>
    <p>When  <b>ventur</b> followers reference your list to buy their own gear, you get 1/2 of our affiliate commision to send to a cause of your choice - no asking for donations!
  	</p>
	</div>
</div>
<div id="iphone" >
	<div class="col-md-4-left wrapper_wide ">
		<h2>Travel like you mean it</h2>
		<p>
    Share your adventures on <b>ventur</b> to inspire and enable others to get out there, while making a positive impact on issues you care about
  	</p>
  	<br>
  	<%= link_to "Get started", new_user_registration_path, class: "button button_white" %>
	</div>
	<%= image_tag("iphone-gear-list.png", alt: "Gear List", class: "iphone_image")%>
</div>
<div id="how_it_works">
	<div class="wrapper_wide">
		<h2>HOW IT WORKS</h2>
		<hr class="hr_short">
		<div class="col-md-4">
			<i class="fa fa-map fa-5x"></i>
			<h3>SHARE YOUR JOURNEY</h3>
	    <p>Create a travel journal and build out your gear list to show the equipment you brought</p>
		</div>
		<div class="col-md-4">
			<i class="fa fa-hand-pointer-o fa-5x"></i>
		<h3>SELECT A CAUSE</h3>
		<p>Represent a charity or non-profit organization of your choice while on a trip</p>
		</div>
		<div class="col-md-4">
			<i class="fa fa-money fa-5x"></i>
		<h3>MAKE A DIFFERENCE</h3>
		<p>We donate 1/2 of proceeds directly to your selected cause</p>
		</div>
	</div>
</div>