<div id="background">
	<header class="cf">
		<div class="wrapper_wide">
			<%= link_to "ventur", root_path, id: "logo" %>
		<nav>
			<ul>
				<% unless user_signed_in? %>
					<li><%= link_to "Explore", journals_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
					<li><%= link_to "Get Started", new_user_registration_path %></li>
				<% else %>
					<li><%= link_to "Explore", journals_path %></li>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% end %>
			</ul>
			</nav>
		</div>
	</header>
	<h1>Better the world <br>
	while you explore it</h1>
	<%= link_to "Get started", new_user_registration_path, class: "button button_white" %>
</div>
<div id="vision">
	<div class="wrapper_skinny">
		<h2>Our Vision</h2>
		<hr class="hr_short">
		<p>We see the future of travel as an active means of making a positive impact on the cultural and natural environments of our planet.</p>
	</div>
</div>