<div id="form">
  <div class="wrapper">
		<%= form_for @journal do |f| %>
			<p>
				<%= f.label :title %> <br>
				<%= f.text_field :title %>
			</p>
			<p>
				<%= f.label "Add a cover image for your journal" %> <br>
				<%= f.file_field :journal_image %>
			</p>
			<p>
				<%= f.label :description %> <br>
				<%= f.text_area :description %>
			</p>
			<div class="actions">
		        <%= f.submit class: "button button_dark button_block" %>
		  </div>
		<% end %>
	</div>
</div>