<% unless !user_signed_in? %>
	<header id="main_header" class="cf">
		<div class="wrapper_wide">
			<%= link_to "ventur", root_path, id: "logo" %>
			<a href="#" class="toggle-panel"><i class="fa fa-bars fa-2x"></i></a>
			<nav id="panel-example">
				<ul>
					<% unless user_signed_in? %>
						<li><%= link_to "Login", new_user_session_path %></li>
						<li><%= link_to "Get Started", new_user_registration_path %></li>
					<% else %>
						<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "New Journal", new_journal_path %></li>
					<li><%= link_to "New Gear List", new_gear_list_path %></li>
					<li><%= link_to "Guidelines", current_user %></li>
					<hr>
					<li><%= link_to "Settings", edit_user_registration_path %></li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>
<% end %>
<div id="journals" class="cf">
	<ul class="cf">
		<% @journals.each do |journal| %>
			<%= link_to journal do %>
				<li>
					<%= image_tag journal.journal_image.url(:medium) %>
					<div class="journal_overview">
						<h2><%= journal.title %></h2>
						<p class="description"><%= truncate(journal.description, length: 140) %></p>
						<p class="author"><%= link_to journal.user.first_name+' '+journal.user.last_name, journal.user %></p>
						<p class="chapter_count">2 Chapters</p>
					</div>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>