<div id="categories">
		<% JournalCategory.all.each do |category| %>
			<%= link_to category.name, journals_path(journal_category: category.name) %>
		<% end %>
	</div>
<div id="journals" class="cf">
	<ul class="cf">
		<% @journals.each do |journal| %>
			<%= link_to journal do %>
				<li>
					<%= image_tag journal.journal_image.url(:medium) %>
					<div class="journal_overview">
						<h2><%= journal.title %></h2>
						<p class="description"><%= truncate(journal.description, length: 140) %></p>
						<p class="author"><%= link_to journal.user.first_name+' '+journal.user.last_name, journal.user %></p>
						<p class="chapter_count">2 Chapters</p>
					</div>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>