<div id="journal_show">
	<div id="cover" style="<%= show_journal_bg %>">
		<div class="wrapper center">
			<h1>
				<%= @journal.title %>
			</h1>
			<p class="description">
				<%= @journal.description %>	
			</p>
			<p class="date">
				<%= @journal.created_at.strftime("%B, %Y") %>
			</p>		
			<p class="author">by <%= link_to @journal.user.first_name+' '+@journal.user.last_name, @journal.user %>
			</p>
			<br>
			<% if current_user == @journal.user %>	
				<%= link_to "edit", edit_journal_path(@journal) %>
				<span> | </span>
				<%= link_to "delete", journal_path(@journal), method: :delete, data: {confirm: "Are you sure you want to delete this Journal?"}, class: "links" %>
			<% else %>
				<%= link_to "Follow", "#", id: "follow_button" %>

			<% end %>
			<ul class="cover_links center">
				<li class="li_with_border-right"><%= link_to "the gear list", gear_lists_path %></li>
				<hr class="short">
				<li class="li_with_border-right"><%= link_to "the cause", "#" %></li>
				<hr class="short">
				<li><%= link_to "funds raised: $123", "#" %></li>
			</ul>
		</div>
	</div>
	<div class="wrapper" id="chapters">
			<% if current_user == @journal.user %>	
				<%= link_to "NEW CHAPTER", "#", id: "add_chapter_button" %>
			<% end %>
			<p class="chapter_count">0 Chapters</p>
			<hr>
	</div>
</div>