<div id="journal_show">
	<div class="wrapper">
		<h1>
			<%= @journal.title %>
		</h1>
		<p>
			<%= @journal.description %>	
		</p>
		<p>
			<%= @journal.user.first_name %> <%= @journal.user.last_name %>
			<% if current_user == @journal.user %>	
				<%= link_to "edit", edit_journal_path(@journal) %>
				<%= link_to "delete", journal_path(@journal), method: :delete, data: {confirm: "Are you sure you want to delete this Journal?"} %>
			<% end %>
		</p>
	</div>
</div>