<header id="main_header" class="cf">
	<div class="wrapper_wide">
		<%= link_to "ventur", root_path, id: "logo" %>
		<% unless user_signed_in? %>
			<nav class="user_not_logged_in">
				<ul>
					<li><%= link_to "Login", new_user_session_path %></li>
					<li><%= link_to "Get Started", new_user_registration_path %></li>
				</ul>
			</nav>
		<% else %>
		<a href="#" class="toggle-panel"><i class="fa fa-bars fa-2x"></i></a>			
		<nav id="panel-example">
				<ul>
					<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "New Journal", new_journal_path %></li>
					<li><%= link_to "New Gear List", new_gear_list_path %></li>
					<li><%= link_to "Guidelines", current_user %></li>
					<hr>
					<li><%= link_to "Settings", edit_user_registration_path %></li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
				</ul>
			</nav>
		<% end %>
	</div>
</header>