<!DOCTYPE html>
<html>
<head>
  <title>Ventur20</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if alert %>
	<div id="notice_wrapper">
		<p class="alert"><%= alert %></p>
	</div>
<% elsif notice %>
	<div id="notice_wrapper">
		<p class="notice"><%= notice %></p>
	</div>
<% end %>

<% unless current_page?(root_path) %>
	<%= render 'layouts/header' %>
<% end %>

<%= yield %>

<script>
	$(document).ready(function(){
		setTimeout(function() {
			$('#notice_wrapper').fadeOut("slow", function() {
				$this.remove();
			});
		}, 2500 );
	});
</script>

</body>
</html>
