<!DOCTYPE html>
<html>
<head>
  <title>ventur</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<% if alert %>
	<div id="notice_wrapper">
		<p class="alert"><%= alert %></p>
	</div>
<% elsif notice %>
	<div id="notice_wrapper">
		<p class="notice"><%= notice %></p>
	</div>
<% end %>

<% unless current_page?(root_path) %>
	<%= render 'layouts/header' %>
<% end %>



<%= yield %>

<%= render 'layouts/footer' %>

<script>

	$('#panel-example').scotchPanel({
    containerSelector: 'body', // As a jQuery Selector
    direction: 'right', // Make it toggle in from the left
    duration: 280, // Speed in ms how fast you want it to be
    transition: 'ease', // CSS3 transition type: linear, ease, ease-in, ease-out, ease-in-out, cubic-bezier(P1x,P1y,P2x,P2y)
    clickSelector: '.toggle-panel', // Enables toggling when clicking elements of this class
    distanceX: '40%', // Size fo the toggle
    enableEscapeKey: true // Clicking Esc will close the panel
	});
	$(document).ready(function(){
		setTimeout(function() {
			$('#notice_wrapper').fadeOut("slow", function() {
				$this.remove();
			});
		}, 1600 );
	});
</script>

</body>
</html>
